<div class="nav-tabs-wrapper">
  <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
    <li class="active">
      <a data-target="#directory" data-toggle="tab" aria-expanded="true">Project Directory</a>
    </li>
    <li>
      <a data-target="#description" data-toggle="tab" aria-expanded="true">Project Description</a>
    </li>
    <li>
      <a data-target="#labour" data-toggle="tab" aria-expanded="true">Project Labour Returns</a>
    </li>
    <li>
      <a data-target="#plant" data-toggle="tab" aria-expanded="true">Project Plant Returns</a>
    </li>
 </ul>
</div>
<div id="my-tab-content" class="tab-content">
  <div class="tab-pane active" id="directory">

    <app-project-directory></app-project-directory>

  </div>
  <div class="tab-pane " id="description">

    <app-project-description></app-project-description>

  </div>
  <div class="tab-pane " id="labour">

    <app-project-labour></app-project-labour>

  </div>
  <div class="tab-pane " id="plant">

      <app-project-plant></app-project-plant>


  </div>
</div>
