<div [class.mycollapsed]="isCollapsed">
<ng-content>
  <p class="text">

    <strong>
      I want to be financially secure. I want to practically increase my financial net worth. I want to be a more productive person.
      I want more out of my life. I want my life to achieve more results. I want to use my time more efficiently. I want
      to convert my time into more physical, financial and social results.
      <strong>
        <br>
        <br>
        <small>
          Use Colours to conceive, plan and execute your activities more efficiently. Colours will help you collect and produce your
          own productivity metrics, which you can use to take necessary corrective action towards better personal results.
          Colours will be your personal productivity mirror. Know your own productivity colours and make the necessary changes
          to improve your productivity. Use Colours Marketplace to link with friends and mentors to help you to be accountable
          to yourself. Accept that accountability to self or others is actual your means of production. . Use Colours to
          be more fruitful. Use Colours to deliver more practical results. Use Colours to acquire better habits and disciplines.
        </small>
        <br>
        <br>
        <strong>I want to find a job. I want my talent and capabilities to be discovered by good companies.</strong>
        <br>
        <br>
        <small>
          Over a period of time, use Colours to compile your productivity metrics into your performance profile. Post your performance
          profile on Colours Marketplace so that your talent can be discovered by great companies. Great companies want to
          know the true performance colours of prospective staff members.
        </small>
        <br>
        <br>
  </p>
</ng-content>
  <div (click)="isCollapsed =! isCollapsed">Read more</div>
</div>

<style>
  div.mycollapsed {
            height: 250px;
        }
</style>